<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>425e20d41ebe4ec0a2e54bc54b7591c4</string>
	<key>secret</key>
	<string>e9c2df938f694eccb59d189c632c3e18</string>
</dict>
</plist>
